<main class="container">
  <%= link_to sanitize("&larr; Back to topic"), topic_path(@topic) %>

  <div class="header">
    <h1>Edit topic</h1>
  </div>

  <%= turbo_frame_tag @topic do %>
    <%= render "form", topic: @topic %>
  <% end %>
</main>