<%= turbo_frame_tag nested_dom_id(@topic, @quiz, choice_question, choice) do %>
  <% if choice.choice_question_id == choice_question.id %>
    <div class="choice">
      <div class="choice__name">
        <%= choice.value %>
        <% if choice.is_correct == 1 and quiz_owner(@quiz) %>
          <span> - This answer is correct</span>
        <% end %>
      </div>
      <% if (quiz_owner(@quiz) and !request.original_url.ends_with?("/quiz_sessions")) %>
        <div class="choice__actions">
          <%= button_to "Delete",
                        [@topic, @quiz, choice_question, choice],
                        method: :delete,
                        class: "btn btn--light" %>
          <%= link_to "Edit",
                      [:edit, @topic, @quiz, choice_question, choice], 
                      data: { turbo_frame: nested_dom_id(@topic, @quiz, choice_question, choice) },
                      class: "btn btn--light" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>