<main class="container">
  <%= link_to sanitize("&larr; Back to quiz"), topic_quiz_path(@topic, @quiz) %>

  <div class="header">
    <h1>Edit question</h1>
  </div>

  <%= render "form",
             topic: @topic,
             quiz: @quiz,
             text_input_question: @text_input_question %>
</main>